.Footer{
   
    width: 100vw;
    padding: 0vh 1vw ;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    
}
li{
    display: inline;
    margin-right: 10px;
}
.made{
    border-top: 1px solid grey;
    text-align: center;
    justify-self: center;
    width: 100%;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 600px){
    .flex{
        justify-content: space-between;
    }
}