.Main{
    padding-top: 12vh;
    background-color:#0000;
    width: 100vw;
    margin: 0;
    
}
.top-sec{
    height: 88vh;
    background-image: url("../img/bgtop-img.png");
    background-size: 350px 350px;
    background-repeat: round;
    display: flex;
 

}
.intro{
    background-color: #0000;
    align-self: center;
    margin: auto;
    text-align: center;
    width: 50vw;
}
.intro h2{
    font-size: 2rem;
    font-weight: 500;
    background-color:#f9f7f791;
    color: #4d4b4b;
}
.intro h1{
    font-size: 3rem;
    font-weight: 900;
}
.intro button{
    padding: 1rem 2rem;
    font-weight: 800;
    font-size: 1.5rem;
    border: 2px solid rgb(138, 17, 218);
    color: antiquewhite;
    border-radius: 10px;
    background: blueviolet;
    box-shadow:  -5px -5px 6px #d2cdf9,
                5px 5px 6px #c5bff8;
    margin-top: 3.5rem;
}
a{
    color: antiquewhite;
    text-decoration: none;
}

.top-social{
    width: 1rem;
    height: 200px;
    background-color: beige;
    align-self: center;
}
.About{
    text-align: center;
    padding: 3rem 6rem ;
   
}
.About h2{
    font-size: 2.5rem;
    font-weight: 700;
    background-image: url("../img/ybg.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.About p{
    font-size: 1.3rem;
    line-height: 2.2rem;
    color: rgb(98, 96, 96);
}
.About button{
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    font-size: 1.3rem;
    border: 2px solid rgb(138, 17, 218);
    color: antiquewhite;
    border-radius: 10px;
    background: blueviolet;
    box-shadow:  -5px -5px 6px #d2cdf9,
                5px 5px 6px #c5bff8;
}
.About-box{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-top: 4rem;
    background-image: url("../img/ybg.png");
    background-repeat: no-repeat;
    background-position: -2% 88%;
    background-size: 50% 17%;

}
.divider{
    width: 35rem;
    height: 100%;
}

.About-box h3{
    font-size: 1.8rem;
    font-weight: 600;
    display: block;
    background-image: url("../img/ybg.png");
    background-repeat: no-repeat;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
}
.skills div{
   
    padding: 1rem;
    width: auto;
    font-size: 1.3rem;
    font-weight: 500;
    display: inline-block;
    margin: 7px;
    color: rgb(78, 77, 77);
    border-radius: 24px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  50px 50px 100px #d5d5d5,
                -50px -50px 100px #ebebeb;
}
.contact{
    background-color: #faf7f2d0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem;
}
form{
   padding: 4rem;
    width: 57%;
    border-radius: 30px;
    border-radius: 30px;
    background: linear-gradient(15deg, #cacaca, #f6eee49d);
    box-shadow: inset 5px 5px 1px #ddd9d6,
            inset -5px -5px 1px #ffffff;

}
form:hover{
    background: linear-gradient(45deg, #f6eee49d, #cacaca);
    box-shadow:  5px 5px 3px #ddd9d6,
             -5px -5px 3px #ffffff;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    display: block;
    width: 80%;
    margin: 1rem 0rem;
    padding: 1rem;
    font-size: 1rem;
    border: 2px solid gainsboro;
    border-radius: 10px;
    background: linear-gradient(360deg, #e2dcdc, #ffffff);
    box-shadow:  2px 2px 2px #d4d3d3,
             -2px -2px 2px #efeded;
}
input:hover{
    background: linear-gradient(180deg, #ffffff,  #e2dcdc);
    box-shadow:  2px 2px 2px  #efeded,
             -2px -2px 2px #d4d3d3;
}


textarea{
    display: block;
    width: 80%;
    height: 15rem;
    margin: 1rem 0rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: 2px solid gainsboro;
    border-radius: 10px;
    background: linear-gradient(360deg, #e2dcdc, #ffffff);
    box-shadow:  2px 2px 2px #d4d3d3,
             -2px -2px 2px #efeded;
}
.form button{
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    font-size: 1.3rem;
    border: 2px solid rgb(138, 17, 218);
    color: antiquewhite;
    border-radius: 10px;
    background: blueviolet;
    box-shadow:  -5px -5px 6px #d2cdf9,
                5px 5px 6px #c5bff8;
}



@media screen and (max-width: 600px){
    .intro{
        width: 95vw;
    }
    .intro h1{
        font-size: 2rem;
        font-weight: 800;
    }
    .intro h2{
        font-size:1.5rem ;
    }
    .top-sec{
        height: 55vh;
    }
    .About{
        padding: 1.5rem ;
    }
    .skills{
        width: 100vw;
    }
    .About-box{
        flex-direction: column;
        background-position: 41% 53%;
        background-size: 114% 15%;
    }
    form{
        width: 95%;
        padding: 4rem 0rem;
    }

}
    